<section>
    <div class="container-fluid">

        <div class="row about-bg">
            <div class="col-md-6">

<img src="https://i.materialise.com/blog/wp-content/uploads/2015/01/chatter-bot-blog1.jpg" alt="Italian Trulli">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 about-bg-layer">


                <div class="">
                    <div class="about-content-box">
                        <div class="about-heading">

                            <h1>ABOUT US</h1>
                            <h2>Spammer</h2>
                            <p>Spam everywhere and everyone</p>
                        </div>
                        <div class="about-txt">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>

                    <div style="float:right; color:#fff;">
                        Author:: Tetiana Chernova
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<style>
    
    
.about-bg{
	/*background-image:url(https://i.materialise.com/blog/wp-content/uploads/2015/01/chatter-bot-blog1.jpg);*/
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.about-heading > p{
	font-size:24px;
	font-weight:bold;
}

.about-txt > p{
	font-size:18px;
	text-align:center;
	
}
.about-content-box{
	padding-top:100px;
	padding-bottom:100px;
	padding-left:70px;
	padding-right:70px;
	color:#fff;
}

.about-bg-layer{
	background-color:rgba(62,207,182,0.70);
	height:200%;
	margin:0px;
}
</style>